.site-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 470px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.site-list__link {
  @include text;
  text-decoration: none;
}