.fashion__text {
  position: absolute;
  left: 25%;
  top: 23%;
  z-index: -1;
}
.fashion__text-title {
  width: 660px;
  color: #0021c4;
  font-family: "Playfair Display";
  font-size: 150px;
  font-weight: 700;
  line-height: 109px;
  text-transform: uppercase;
}
