.page-header {
  position: relative;
  background-color: #3853d8;
  z-index: 1;
}

.page-header__arrival {
  min-height: 663px;
  background-image: url('../img/image.png');
  background-repeat: no-repeat;
  background-position: center top 25%;
}
